.accordion__list {
  @include reset;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid $border;
}

.accordion__item:not(:first-child) {
  border-top: 1px solid $border;
}

.accordion__item {
  padding-top: 43px;
  padding-bottom: 33px;
}

.accordion__btn {
  position: relative;
  display: block;
  cursor: pointer;
  max-width: 100%;
  padding-left: 40px;
  padding-right: 10px;

  width: 100%;
  background: none;
  border: none;
  text-align: start;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  color: $main-text;
  font-family: $font-main;
  outline: none;

  &:focus {
    opacity: 0.7;
  }

  &:hover {
    opacity: 0.5;
  }

  & span {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 10px;
    padding-right: 100px;

    margin-top: 0;
  }

  &::after {
    content: url("../images/arrow-down.svg");
    position: absolute;
    top: 0;
    right: 50px;
    width: 15px;
    height: 8px;
  }
}

.accordion__panel {
  & p {
    font-size: 16px;
    line-height: 21px;

    max-width: 575px;
    margin-top: 0;
    padding-left: 45px;
  }
}

.accordion__list.accordion__list--js {
  & .accordion__panel {
    display: none;
  }
}

.accordion__item.accordion__item--active {
  padding-bottom: 25px;

  & .accordion__panel {
    display: block;
  }

  & .accordion__btn {
    position: relative;

    &::after {
      content: url("../images/arrow-up.svg");
      position: absolute;
      top: 0;
      right: 50px;

      width: 15px;
      height: 8px;
    }
  }
}


@media (max-width: $tablet-width) {
  .accordion__btn {
    padding-left: 47px;
    padding-right: 10px;
    padding-bottom: 15px;

    & p {
      margin-bottom: 25px;
    }

    &::after {
      content: url("../images/arrow-down-tablet.svg");
      top: 3px;

      width: 23px;
      height: 12px;
    }
  }

  .accordion__panel {
    & p {
      max-width: 590px;
    }
  }

  .accordion__item.accordion__item--active {
    padding-bottom: 30px;

    & .accordion__btn {
      &::after {
        content: url("../images/arrow-up-tablet.svg");
        top: 2px;
        right: 50px;
        width: 23px;
        height: 12px;
      }
    }
  }

  .accordion__item {
    padding-bottom: 18px;
  }
}

@media (max-width: $mobile-width) {
  .accordion__btn {
    padding-left: 23px;
    padding-right: 50px;
    padding-bottom: 3px;

    & span {
      font-size: 16px;
      line-height: 22px;

      padding-right: 0;
    }

    & p {
      font-size: 16px;
      line-height: 22px;

      margin-bottom: 13px;
      padding-right: 0;
    }

    &::after {
      width: 20px;
      height: 10px;

      right: 22px;
    }
  }

  .accordion__item {
    padding-top: 16px;
    padding-bottom: 8px;
  }

  .accordion__panel {
    & p {
      font-size: 14px;
      line-height: 20px;
      padding-left: 22px;
      padding-right: 53px;
    }
  }

  .accordion__item.accordion__item--active {
    padding-bottom: 7px;

    & .accordion__btn {
      &::after {
        width: 20px;
        height: 10px;

        right: 22px;
      }
    }
  }
}
