.aside {
  min-width: 250px;
  margin-right: 50px;
}

.aside__list {
  @include reset;
  margin-bottom: 35px;
  border: 1px solid $border;
}

.aside__item:not(:last-child) {
  border-bottom: 1px solid $border;
}

.aside__item {
  padding-bottom: 23px;
  padding-top: 22px;
}

.aside__item:last-child {
  padding-bottom: 10px;
}

.aside__item-content {
  margin-top: 25px;
  margin-bottom: 5px;
  padding-left: 35px;
  padding-right: 45px;
}

.aside__item-box:not(:last-child) {
  margin-bottom: 12px;
}

.aside__item-box label {
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.aside__item--price .aside__item-content {
  padding-left: 25px;
  margin-top: 21px;
}

.aside button {
  font-family: $font-main;
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  margin-bottom: 24px;
  padding: 24px;

  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.aside__item .aside__item-title {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 25px;
  padding-right: 45px;
  position: relative;
  cursor: pointer;
  text-align: start;
  font-weight: 500;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.aside__item-title::before {
  content: "";
  position: absolute;
  background-image: url("../images/arrow-up.svg");
  right: 22px;
  bottom: 5px;
  width: 18px;
  height: 11px;
  transform: rotate(0deg);
}

.aside__item-title--active::before {
  transform: rotate(180deg);
}

.aside .aside__btn-apply {
  background: $border;
  color: $white;

  &:hover,
  &:focus {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }
}

.aside .aside__btn-reset {
  border: 1px solid $border;
  color: $main-text;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.aside__close {
  display: none;
}

.aside__item-label input {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.aside__input-text {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
}

.aside__input-text::before {
  content: "";
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 15.95px;
  height: 15px;
  margin: 0 8px 0 0;
  border: 1px solid $border;
  background: $white;
  border-radius: 1px;
  cursor: pointer;
}

.aside__input:checked + .aside__input-text::before {
  background: $border;
  border: none;
  border-radius: 0;
}

.aside__input:focus .aside__input-text::before {
  border: 2px solid $border;
  border-radius: 5px;
}

.aside__input:disabled .aside__input-text::before {
  opacity: 0.55;
}

@media (max-width: $tablet-width) {
  .aside {
    width: 55%;
    margin-right: 0;
    position: relative;
  }

  .aside__list {
    border: none;
    position: relative;
    margin: 0 0 40px;
  }

  aside.aside--js .aside__form {
    display: none;
  }

  aside.aside--active {
    position: fixed;
    top: 25px;
    left: 0;
    background-color: $white;
    box-shadow: 0 5px 32px $filter-shadow;
    z-index: 7;
    height: 100vh;
    overflow-y: visible;

    & .aside__close {
      display: block;
      margin-left: auto;
      position: absolute;
      width: 32px;
      height: 32px;
      top: 0;
      right: -10px;

      &::before {
        position: absolute;
        content: "";
        background-image: url("../images/close.svg");
        width: 32px;
        height: 32px;
        top: -15px;
        right: -7px;
        z-index: 50;
      }
    }
  }

  .aside__item-box:not(:last-child) {
    margin-bottom: 17px;
  }

  .aside__item:last-child {
    padding-bottom: 30px;
  }

  .aside__item {
    padding-bottom: 34px;
    padding-top: 34px;
  }

  .aside__item-content {
    padding-left: 30px;
  }

  .aside__input-text {
    padding: 0 0 0 30px;
  }

  .aside__input-text::before {
    width: 18px;
    height: 18px;
  }

  .aside__item-box label {
    font-size: 16px;
    line-height: 21px;
  }

  .aside button {
    width: 362px;
    margin-left: 20px;
  }

  .aside__item .aside__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    width: 100%;
    padding-left: 0;
    margin-right: 0;
  }

  .aside__item--price .aside__item-content {
    width: 362px;
    margin-top: 27px;
    padding-left: 31px;
  }

  .aside__item--price {
    border-bottom: 1px solid $border;
  }

  .aside__item-title::before {
    background-image: url("../images/arrow-up-tablet.svg");
    width: 25px;
    height: 15px;
    right: 58px;
    bottom: 3px;
  }
}


@media (max-width: $mobile-width) {
  .aside {
    width: 85%;
  }

  aside.aside--active {
    top: 75px;
    left: 50%;
    max-height: 736px;
    transform: translateX(-50%);
  }

  .aside__item {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .aside__item .aside__item-title {
    padding-right: 10px;
  }

  .aside button {
    margin: 0 auto;
    margin-left: 20px;
    width: 230px;
  }

  .aside .aside__btn-apply,
  .aside .aside__btn-reset {
    display: block;
    margin: 0 auto;
    margin-bottom: 18px;
  }

  .aside__item-title::before {
    right: 37px;
  }

  .aside__item-content {
    padding-left: 30px;
    margin: 0 auto;
    margin-top: 25px;
  }

  .aside__item--price .aside__item-content {
    width: 250px;
    padding: 0 10px;
  }

  .aside__item:last-child {
    padding-bottom: 26px;
  }

  .aside__list {
    margin: 0 0 30px;
  }
}
