.menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include reset;
  margin-left: 40px;
}

.menu__item {
  padding-right: 35px;
  padding-bottom: 15px;
}

.menu__item:first-child {
  padding-right: 40px;
}

.menu__mobile-info {
  display: none;
}

.menu__mobile-login {
  display: none;
}

@media (max-width: $tablet-width) {
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 45px;
  }

  .menu__item,
  .menu__mobile-item {
    padding-bottom: 21px;
  }

  .menu__item a {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: $white;
  }

  .menu__mobile-info {
    display: block;

    @include reset;
    margin-left: 45px;
    margin-top: 18px;
  }

  .menu__mobile-info a {
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $menu-text;
  }

  .menu__mobile-login {
    display: block;
    color: $white;
    font-size: 18px;
    line-height: 23px;

    margin-left: 45px;
    margin-bottom: 73px;
    margin-top: 25px;
  }
}

@media (max-width: $mobile-width) {
  .menu__list {
    margin-left: 15px;
  }

  .menu__mobile-info {
    margin-left: 15px;
    margin-top: 10px;
  }

  .menu__mobile-login {
    margin-left: 15px;
    margin-bottom: 44px;
    margin-top: 13px;
  }
}
