.news__title {
  @include title;
  margin-top: 112px;
  margin-bottom: 25px;
}

.news__shop-now {
  margin-bottom: 60px;
}

.news__slider {
  @include reset;
  width: 100%;
  overflow: hidden;
  user-select: none;
  touch-action: pan-y;
  padding-bottom: 85px;

  & img {
    margin: 0 auto;
  }
}

.news__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news__inner.container {
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.news {
  position: relative;
  padding: 0 20px;
  max-width: 1210px;
  margin: 0 auto;


  & .news__shop-now {
    display: inline-block;
    vertical-align: middle;
    font-family: $font-main;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid $border;

    margin-bottom: 57px;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.news__item {
  transition: all 0.1s;

  &:hover,
  &:focus {
    scale: 1.03;
  }

  &:active {
    opacity: 0.5;
  }

  & a {
    display: block;
  }
}

.news__item-title {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  font-weight: 500;

  margin-bottom: 18px;
  margin-top: 20px;
}

.news__item-price {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-weight: 700;
  margin-top: -10px;
}

.news__slider--product {
  padding: 0 0 124px;
}

.news__title.news__title--product {
  margin-top: 112px;
  margin-bottom: 21px;
}

.news__shop-now.news__shop-now--product {
  margin-bottom: 63px;
}

.news__slider--product .slick-arrow__btnprev {
  top: 154px;
}


@media (max-width: $tablet-width) {
  .news__inner {
    margin-top: 7px;
  }

  .news__shop-now {
    margin-bottom: 47px;
  }

  .news__title {
    margin-top: 63px;
    margin-bottom: 18px;
  }

  .news__slider-btn img {
    width: 36px;
    height: 15px;
  }

  .news {
    padding: 0;

    & .news__shop-now {
      margin-bottom: 50px;
      padding-bottom: 5px;
    }
  }

  .news__item {
    width: 100%;
  }

  .news__item img {
    width: 324px;
    height: 340px;
  }

  .news__item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .news__slider {
    width: 100%;
    padding-bottom: 35px;
  }

  .news__title.news__title--product {
    margin-top: 71px;
  }

  .news__slider--product {
    padding-bottom: 73px;
  }

  .news__slider--product .slick-arrow__btnprev {
    top: 112px;
  }

  .news__slider--product .slick-arrow__btnnext {
    top: 112px;
  }
}

@media (max-width: $mobile-width) {
  .news__title {
    margin-top: 53px;
  }

  .news {
    & .news__shop-now {
      margin-bottom: 40px;
    }
  }

  .news__item img {
    width: 93%;
    height: auto;
  }

  .news__item {
    margin-bottom: 17px;
  }

  .news__item-title {
    margin-top: 15px;
  }

  .news__slider {
    padding-bottom: 25px;
  }

  .news__title.news__title--product {
    margin-top: 63px;
  }

  .news__slider--product {
    padding-bottom: 61px;
  }
}
