.pagination {
  width: 74.3%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.pagination__list {
  display: flex;

  @include reset;
  padding-right: 20px;
}

.pagination__item {
  padding-right: 13px;

  & a {
    color: $grey-text;

    &:hover,
    &:focus {
      opacity: 0.4;
    }

    &:active {
      opacity: 0.2;
    }
  }
}

.pagination__item.active {
  & a {
    color: $main-text;

    &:hover,
    &:focus {
      opacity: 0.4;
    }

    &:active {
      opacity: 0.2;
    }
  }
}

.pagination button {
  background: transparent;
  border: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  font-family: $font-main;
  cursor: pointer;
  padding: 0;

  &:hover,
  &:focus {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.2;
  }
}

@media (max-width: $tablet-width) {
  .pagination {
    width: 100%;
  }
}

@media (max-width: $mobile-width) {
  .pagination button {
    display: none;
  }

  .pagination {
    justify-content: center;
  }

  .pagination__list {
    padding-right: 0;

    padding-left: 25px;
  }

  .pagination__item {
    padding-right: 25px;
  }
}
