.product-news .news__title {
  margin-bottom: 22px;
}

.product-news .news__shop-now {
  margin-bottom: 60px;
}

.product-news .news__slider {
  padding-bottom: 125px;
}

@media (max-width: $tablet-width) {
  .product-news .news__title {
    margin-top: 70px;
  }

  .product-news .news__inner {
    margin-top: 7px;
  }

  .product-news .news__shop-now {
    margin-bottom: 47px;
  }

  .product-news .news__slider {
    padding-bottom: 76px;
  }
}

@media (max-width: $mobile-width) {
  .product-news .news__title {
    margin-top: 60px;
  }

  .product-news .news__shop-now {
    margin-bottom: 39px;
  }

  .product-news .news__slider {
    padding-bottom: 65px;
  }
}
