.product-card__inner {
  display: flex;
  justify-content: space-between;

  margin-top: 70px;
  margin-bottom: -3px;
}

.product-card__info {
  display: flex;
  flex-direction: column;
  width: 42%;
  padding-left: 20px;
  height: 455px;
}

.product-card__gallery {
  display: flex;
  justify-content: space-between;
  width: 51.5%;
  padding-top: 8px;
}

.product-card__preview {
  width: 100%;

  @include reset;
  margin-right: 15px;
  display: grid;
  grid-template-columns: 20% 82%;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 2%;
  row-gap: 4%;

  & .product-card__preview-item--one {
    grid-row: 1/4;
    grid-column: 2/3;
  }

  & .product-card__preview-item--two {
    grid-row: 1;
    grid-column: 1;
  }

  & .product-card__preview-item--three {
    grid-row: 2;
    grid-column: 1;
  }

  & .product-card__preview-item--four {
    grid-row: 3;
    grid-column: 1;
  }
}

.product-card__preview-item--one img {
  height: 97%;
}

.product-card__info h2 {
  @include title;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.product-card__price p {
  font-family: $font-main;
  font-size: 26px;
  line-height: 34px;
  margin-top: 10px;
  margin-bottom: 37px;
}

.product-card__tabs a {
  font-size: 16px;
  line-height: 21px;
  color: $grey-text;

  display: block;
  width: 27%;
  margin-bottom: 20px;

  &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
}

.product-card__tabs {
  margin-bottom: 48px;
}

.product-card__btn {
  margin-top: auto;

  &:hover,
  &:focus {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.7;
  }
}

.product-card__btn a {
  display: block;
  border: none;
  background-color: $border;
  padding: 28px;
  padding-bottom: 25px;
  padding-top: 23px;
  width: 79%;
  font-family: $font-main;
  font-size: 16px;
  line-height: 21px;
  color: $white;
  text-align: center;
  cursor: pointer;
}

.product-card__conditions {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 18px;
  color: $grey-text;
  width: 79%;
}


@media (max-width: $tablet-width) {
  .product-card__inner {
    margin-top: 0;
  }

  .product-card__gallery {
    flex-direction: column;
    justify-content: space-between;
    width: 45.7%;
    padding-top: 15px;
    height: 433px;
  }

  .product-card__preview {
    justify-content: space-between;
    order: 2;
    padding: 0;
    padding-top: 15px;

    width: 100%;
    height: 442px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 67% 35%;
    column-gap: 3.7%;
    row-gap: 3%;

    & img {
      height: 129px;
    }

    & .product-card__preview-item--one {
      grid-row: 1;
      grid-column: 1/4;
    }

    & .product-card__preview-item--two {
      grid-row: 2;
      grid-column: 1;
    }

    & .product-card__preview-item--three {
      grid-row: 2;
      grid-column: 2;
    }

    & .product-card__preview-item--four {
      grid-row: 2;
      grid-column: 3;
    }
  }

  .product-card__preview-item--one {
    & img {
      height: 100%;
    }
  }

  .product-card__info {
    width: 50%;
  }

  .product-card__info h2 {
    padding-top: 20px;
  }

  .product-card__price p {
    margin-bottom: 40px;
  }

  .product-card__tabs a {
    width: 40%;
  }

  .product-card__btn a {
    width: 100%;
  }

  .product-card__conditions {
    font-size: 12px;
    line-height: 16px;
    width: 100%;
  }
}


@media (max-width: $mobile-width) {
  .product-card__gallery {
    width: auto;
    height: 100%;
    padding-top: 0;
    padding-left: 10px;
    align-items: center;
  }

  .product-card__inner {
    flex-direction: column;
  }

  .product-card__preview {
    position: relative;
    width: 290px;
    height: auto;
    min-height: 260px;
    display: flex;
    padding-top: 0;

    & img {
      height: 260px;
      width: 290px;
    }
  }

  .product-card__preview .slick-slide {
    margin-right: 0;
  }

  .product-card__preview .slider-paging-number {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    margin-right: 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    padding-left: 0;
    z-index: 5;
  }

  .product-card__info {
    width: 100%;
    max-width: 350px;
    padding-left: 0;
    margin: 0 auto;

    & h2 {
      padding-top: 35px;
    }
  }

  .product-card__price p {
    margin-bottom: 28px;
  }

  .product-card__tabs a {
    width: 45%;
  }

  .product-card__tabs {
    margin-bottom: 15px;
  }

  .product-card__btn {
    margin: 0 auto;
    margin-top: 24px;
    width: 290px;
  }

  .product-card__conditions-item {
    width: 28%;
  }

  .product-card__conditions p {
    text-align: center;
  }

  .product-card__conditions-item--borders {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../images/border-line.svg");
      bottom: 45%;
      transform: translateX(-50%);
      left: -20px;
      width: 2px;
      height: 20px;
    }

    &::after {
      position: absolute;
      content: "";
      background-image: url("../images/border-line.svg");
      bottom: 45%;
      transform: translateX(-50%);
      right: -15px;
      width: 2px;
      height: 20px;
    }
  }
}
