.question {
  display: flex;
  justify-content: center;

  width: 987px;
}

.question__accordion {
  width: 100%;
  margin-bottom: 100px;

  & h2 {
    @include title;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
  }
}

@media (max-width: $tablet-width) {
  .question {
    width: 88%;
  }

  .question.container {
    padding: 0;
  }

  .question__accordion {
    margin-bottom: 65px;

    & h2 {
      margin-top: 20px;
      margin-bottom: 48px;
    }
  }
}

@media (max-width: $mobile-width) {
  .question {
    width: 90%;
  }

  .question__accordion {
    margin-bottom: 48px;

    & h2 {
      margin-top: 10px;
      margin-bottom: 28px;
    }
  }
}
