.slick-slider {
  display: block;
  box-sizing: border-box;

  user-select: none;
  touch-action: pan-y;
}

.slick-list {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  min-width: 0;
  margin-left: auto;
  margin-right: auto;
}

.slick-track::before,
.slick-track::after {
  display: table;
  content: "";
}

.slick-track::after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-slider button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  z-index: 5;
}

.slick-arrow {
  position: absolute;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.slick-arrow__btnprev {
  left: 10px;
  top: 150px;
}

.slick-arrow__btnnext {
  right: 10px;
  top: 155px;
}

.slick-dots button {
  font-family: $font-main;
  color: $grey-text;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  letter-spacing: -2px;
  margin-top: 38px;
  filter: drop-shadow(0 4px 4px $pagination-shadow);

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.slick-active button {
  color: $main-text;
}

.slick-track .slick-slide:not(:nth-child(4n+1)) {
  margin-left: 23px;
}

.slick-track .slick-slide {
  display: block;
}

.slick-slider .slick-dots {
  display: flex;
  justify-content: center;

  @include reset;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

.slick-dots > li {
  position: relative;
  cursor: pointer;
  text-align: center;
  user-select: none;
}

@media (max-width: $tablet-width) {
  .slick-arrow__btnprev {
    left: 35px;
    top: 112px;
  }

  .slick-arrow__btnnext {
    right: 35px;
    top: 112px;
  }

  .slick-track .slick-slide:not(:nth-child(4n+1)) {
    margin-left: 0;
  }

  .slick-track .slick-slide {
    display: block;
  }

  .slick-slide:not(:nth-child(even)) {
    margin-right: 20px;
  }

  .slick-dots button {
    letter-spacing: -3px;
    margin-top: 27px;
  }
}

@media (max-width: $mobile-width) {
  .slick-slide:not(:nth-child(even)) {
    margin-right: 17px;
  }

  .slider-paging-number {
    list-style: none;
    text-align: center;
    margin-right: 37px;
    letter-spacing: 2px;

    li {
      display: none;

      &.slick-active {
        display: inline-block;
      }

      button {
        background: none;
        border: none;
      }
    }
  }
}
