.tabs__inset {
  display: none;
}

.tabs__inset.tabs__inset--active {
  display: block;
}

.tabs__content {
  @include reset;
  display: flex;

  & li {
    width: 100%;
  }
}

.tabs__list {
  display: flex;
}

.tabs__table td {
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 9px;
  padding-top: 10px;

  width: 80.7%;
  border-bottom: 1px solid $grey-border;
}

.tabs__table-col-2 {
  text-align: center;
}

.tabs__table-col-2--size {
  text-align: end;
}

.tabs__item.tabs__item--active {
  color: $main-text;
}
