body {
  font-family: $font-main;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 500;
  color: $main-text;

  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $main-text;
}

img {
  max-width: 100%;
  height: auto;
}

.lock {
  overflow: hidden;
}

.hidden {
  display: none;
}
