$main-text: #1d1613;
$black-text: #000000;
$grey-text: #9b9997;
$white: #ffffff;
$grey-border: #f6f5f4;
$border: #a87b62;
$beige-background: #f0eae4;
$handle-background: #996b52;

$border-search: rgba(255, 255, 255, 0.15);
$menu-text: rgba(255, 255, 255, 0.75);
$shadow: rgba(0, 0, 0, 0.25);
$filter-shadow: rgba(219, 213, 208, 0.24);
$pagination-shadow: rgba(219, 213, 208, 0.25);
$login-shadow: rgba(226, 221, 215, 0.24);
$login-bg: rgba(29, 22, 19, 0.25);
$check-shadow: rgba(121, 121, 121, 0.24);

$font-main: "Poppins", "Arial", sans-serif;
$font-title: "Cormorant Garamond", "Arial", sans-serif;

$mobile-width: 767px;
$tablet-width: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
